extends layout

block content
   h1= title
   - var foods = [{"type": "Indian", "name": "Idly", "price": 50},{"type": "Italian", "name": "Pizza", "price": 200},{"type": "Chinese", "name": "Fried Rice", "price": 150}]

   div(class="container-fluid")
      div(class="row")
         each food, index in foods
            div(class="col-sm-2 demo", onclick=`buy(${index})`)
               | #{food.type}, #{food.name}, #{food.price} Rs
               div(class="row-sm-2 m-1") Item #{food.type}(#{food.name}) is #{food.price}
               button.btn(class="btn-primary ml-1", onclick=`dispatch("/food/update")`) Update
               button.btn(class="btn-secondary ml-1", onclick=`dispatch("/food/create")`) create
               button.btn(class="btn-danger ml-1", onclick=`dispatch("/food/delete")`) delete
               button.btn(class="btn-success ml-1", onclick=`dispatch("/food/detail")`) detail

         script.
            function buy(a) {
               alert(`You enjoyed the ${a+1} food!`);
            }
            function dispatch(path){
               window.location.href = path;
            }
