extends layout

block content
   h1= title
   - var food  = [{"type": "Indian", "name": "Idly", "price": 50},{"type": "Italian", "name": "Pizza", "price": 200},{"type": "chinese", "name": "friedRice", "price": 150}]

   div(class="container-fluid")
      div(class="row")
         each recipe in food
            div(class="col-sm-2" onclick =`buy(${index})`) #{recipe.type}, #{recipe.name}, #{recipe.price}Rs     
            script.
                 function buy(a)
                 {
                   alert(`You purchased Item ${a+1}`)
                 }  
