extends layout

block content
    h1= title

    if toShow == null
        h2 No instance to delete
    else
        - let foodid = toShow._id
        - let food_type = toShow.food_type
        - let foodcost = toShow.cost
        - let foodsize = toShow.size
        - let actionid = "/resource/food/" + foodid

        script.
            let actionid = "#{actionid}"

        div
            div.row
                div.foodAttr.mr-3 food ID is:
                    div #{foodid}
                div.row
                    div.foodAttr.mr-3 food Type is:
                        div #{food_type}
                div.row
                    div.foodAttr.mr-3 food name is:
                        div #{foodsize}
                div.row
                    div.foodAttr.mr-3 food price is:
                        div #{foodcost}

            button.btn.btn-danger.m-2(onclick="deleteOnid()") Delete
            button.btn.btn-secondary.m-2(onclick="cancel()") Cancel

        script.
            function cancel() {
                // Go back to the home page for the food collection
                window.location.href='/foods';
            }

        script.
            function deleteOnid() {
                console.log("starting delete");
                // delete first
                fetch(actionid, {
                    method: 'DELETE'  // Don't need a body for the delete
                })
                .then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                })
                .then((body) => {
                    alert("Delete succeeded");
                    window.location.href='/foods';
                    // TODO handle body
                })
                .catch((error) => {
                    // TODO handle error
                    alert("Delete failed: " + error);
                });
            }
