extends layout
block content
 h1= title
 - let foodid = toShow._id
 - let type = toShow.type
 - let name = toShow.name
 - let prize = toShow.price
 div
 div.row
 div(class='foodAttr mr-3') food ID is:
 div #{foodid}
 div.row
 div(class='foodAttr mr-3') food type is:
 div #{type}
 div.row
 div(class='foodAttr mr-3') food Name is:
 div #{name}
 div.row
 div(class='foodAttr mr-3') food Price is:
 div #{prize}